<ion-view view-title="T. K. Test" hide-back-button="true">
  <ion-content class="padding">
    <div class="row row-top">
      <div class="empty-space"></div>
    </div>
    
    <div class="row row-center">
      <div class="col">
        <button class="button button-block button-positive" ui-sref="test.login">
          Login
        </button>
      </div>
    </div>
    
    <div class="row row-center">
      <div class="col">
        <button class="button button-block button-positive" ui-sref="test.register">
          Register
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>