<ion-view view-title="Register">
    <ion-content class="padding">
        <div class="circular" ng-click="getPhoto()">
            <img src="{{imageSrc}}" align="middle"></img>
        </div>
        <form name="registerForm" novalidate ng-submit="signupForm(registerForm)">
            <div class="list">
                <label class="item item-input" ng-class="{ 'has-errors' : registerForm.email.$invalid && registerForm.$submitted}">
                    <input name="email" type="email" placeholder="Email" ng-model="user.email" required>
                </label>
                <label class="item item-input" ng-class="{ 'has-errors' : registerForm.firstName.$invalid && registerForm.$submitted}">
                    <input name="firstName" type="text" placeholder="First Name" ng-model="user.firstName" required>
                </label>
                <label class="item item-input" ng-class="{ 'has-errors' : registerForm.lastName.$invalid && registerForm.$submitted}">
                    <input name="lastName" type="text" placeholder="Last Name" ng-model="user.lastName" required>
                </label>
                <label class="item item-input" ng-class="{ 'has-errors' : registerForm.company.$invalid && registerForm.$submitted}">
                    <input name="company" type="text" placeholder="Company (Optional)" ng-model="user.organization">
                </label>
                <label class="item item-input" ng-class="{ 'has-errors' : registerForm.password.$invalid && registerForm.$submitted}">
                    <input name="password" type="password" placeholder="Password" ng-model="user.password" required>
                </label>
                <label class="item item-input" ng-class="{ 'has-errors' : registerForm.password2.$invalid && registerForm.$submitted}">
                    <input name="password2" type="password" placeholder="Repeat password" ng-model="user.password2" required>
                </label>
            </div>
            <button type="submit" class="button button-block button-positive">
                Sign up
            </button>
        </form>
    </ion-content>
</ion-view>